.NavBar{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
}
.NavBar_div input{
    padding: 10px;
    background: transparent;
   outline: none;
    border: none;
    border-bottom:1px solid red;
    color: white;
}  
