.about {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2, .5fr);
    /*align-items: center;*/
    /*gap: 1.5rem;*/
    width: 100%;
    justify-content: space-between;
    min-height: 100vh;
    padding: 70px 5% 0;
}

.about-img {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-right: 10%;
    margin-top: 2.5%;
    /*margin-top: 7.5%;*/
    opacity: 1;
}

.abt-res {
    width: 100%;
    height: auto;
    max-width: 492px;
    max-height: 492px;
    border-radius: 90px;
    /*box-shadow: 0 0 5pc cyan, 0 0 5px cyan, 0 0 10px cyan;*/
    border: #0ef 5px solid;
}

.about-text {
    margin-right: 2%;
}

.about-text h2 {
    font-size: 60px;
    letter-spacing: 5px;
}

.about-text h2 span {
    color: #0ef;
}

.about-text p {
    color: aliceblue;
    font-size: 20px;
    line-height: 2;
    letter-spacing: 2px;
    margin-bottom: 4rem;
    text-align: justify;
    text-justify: inter-word;
}

.abtbtn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 15px;
    text-align: center;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}

.abtbtn-box:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50pc cyan, 0 0 100px cyan, 0 0 200px cyan;
}
*,
*::before,
*::after {
  position: relative;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  transition: background-color .6s cubic-bezier(.7, 0, .7, 1);  
}

body.dark {
  background-color: #D32F2F;
  span {
    color: #fff
  }
}

.toggle {
  display: flex;
  align-items: center;
  margin: 1em 0 0 1em;
  span {
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    transition: color .4s cubic-bezier(.7, 0, .7, 1);
  }
}

input[type="checkbox"] {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
}

label {
  display: block;
  background-color: #ddd;
  width: 60px;
  height: 30px;
  border-radius: 2em;
  overflow: hidden;
  transition: transform .6s cubic-bezier(.7, 0, .7, 1);
  margin: 0 .5em
}

label::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #81C784;
  border-radius: inherit;
  transform: translateX(-80%);
  transition: transform .4s cubic-bezier(.7, 0, .7, 1);
}

label::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 30px;
  background-color: #FFF;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, .35);
  border: 1px solid #ccc;
  transform: translateX(0);
  cursor: pointer;
  transition: transform .4s cubic-bezier(.7, 0, .7, 1);
  z-index: 1;
}

input[type="checkbox"]:checked ~ label {
  &::after {
    transform: translateX(100%);
  }
  &::before {
    transform: translateX(0);
  }
}

input[type="checkbox"]:checked ~ label,
input[type="checkbox"]:focus ~ label{
  outline: solid 1px lightgreen;
}