.header{
    height: 500px;
    width: 100%;
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: space-around;
}   
    
.circle{
    height:500px;
    width: 400px;
   background: url("./likhita1.jpg");
   object-fit: cover;
   background-repeat: no-repeat;
   border-radius: 10%;
   border: 1px solid red;
    
}
h1{
    font-size: 80px;
    background: -webkit-image-set("https://media.tenor.com/xVgwv4_HWfMAAAAC/nature-tree.gif");
    -webkit-background-clip: text;
    background-position-y:-200px ;
    -webkit-text-fill-color: transparent;

}
h4{
    background: -webkit-image-set("https://media.tenor.com/xVgwv4_HWfMAAAAC/nature-tree.gif");
    -webkit-background-clip: text;
    background-position-y:-200px ;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
}